<div class="c-section -intro">
  <div class="c-container">
    <h2 class="c-heading -h1">The Node.js API Framework</h2>
    <div class="x-center">
      <div class="v-block">
        <a class="v-button">LoopBack 3 LTS</a>
        <ul class="v-descriptions">
          <li>Built with JS ES5</li>
          <li>Node.js callback</li>
        </ul>
        <ul class="v-descriptions">
          <li>Use LoopBack 3 if you want ...</li>
        </ul>
      </div>
      <div class="v-block">
        <a href="https://v4.loopback.io" class="v-button">LoopBack 4 Current</a>
        <ul class="x-center v-descriptions">
          <li>Built with TypeScript and JS</li>
          <li>Promise and async/await</li>
        </ul>
        <ul class="v-descriptions">
          <li>Use LoopBack 4 if you want high extensibility</li>
        </ul>
      </div>
      <p class="v-readmore"><a href="https://loopback.io/doc/en/lb4/LoopBack-3.x.html">Read more</a> about the differences between LoopBack 3 and LoopBack 4</p>
    </div>
   
    <div class="c-grid">
      <div class="_col -col-1-2 -offset-1-4">
        <div class="c-terminal">
          <p>$ npm install -g loopback-cli</p>
        </div>
      </div>
    </div>
    <p class="learn-more x-center">
      <a href="/getting-started" class="c-button -lg x-center">Get Started</a>
      <a href="doc" class="c-button -lg x-center docs-button">Read Docs</a>
      <a href="https://ibm-apiconnect.github.io/test-and-monitor/" class="c-button -lg x-center docs-button">Test Your APIs</a>
    </p>
  </div>
</div>
